section#desc {
  min-height: 75vh;
  width: 100vw;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5b86e5;
  padding: 1rem;
}

.desc__title {
  font-size: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  padding: 0 3rem;
}

.desc__content{
  font-size: 3rem;
  max-width: 70%;
  text-align: justify;
}

.desc__content .ul {
  font-size: 3rem;
  border-bottom: .1rem solid #5b86e5;  
}