footer#contact {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../assets/footer.png"), linear-gradient(to bottom, #36d1dc, #5b86e5);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: 7rem;
  margin-bottom: 5rem;   
  text-align: center;         
}

.footer__subtitle {
  font-size: 2rem;
  text-align: center;      
}

.footer__email {
  font-size: 9rem;
  margin-bottom: 5rem;  
  text-align: center;      
}