@import url('navbar.css');
@import url('header.css');
@import url('desc.css');
@import url('skill.css');
@import url('portfolio.css');
@import url('footer.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Barlow', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
}