* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Barlow', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
}