
@media (max-width: 1366px) and (max-height: 1024px) {
  section#desc {
    min-height: 50vh;
  }

  section#skill {
    padding: 15rem 1.5rem;
    min-height: 85vh;
  }

  .skill__title {
    font-size: 7.5rem;
  }

  #skill .row {
    margin: 0;
    margin-bottom: 1rem;
  }

  .skill__item { 
    margin: 0 1rem 1rem 1rem;
  }

  section#portfolio {
    min-height: 75vh;
    padding-top: 3rem;
  }

  .footer__subtitle {
    font-size: 3rem;
  }
}

@media (max-width: 1366px) and (max-height: 767px) {
  section#desc {
    min-height: 75vh;
  }
  
  section#skill {
    padding: 15rem 1.5rem;
    min-height: 125vh;
  }

  section#portfolio {
    min-height: 100vh;
    padding-top: 3rem;
  }
}

@media (max-width: 1024px) and (max-height: 1366px) {
  .navbar__item a {
    font-size: 3rem;
  }
  
  .header__title {
    font-size: 12.5rem;
  }

  .header__subtitle, .header__subtitle .ul {
    font-size: 4rem;
  }
  
  section#desc {
    min-height: 35vh;
  }

  section#skill {
    padding: 17rem 1.5rem;
    min-height: 75vh;
  }

  .skill__title {
    font-size: 7.5rem;
  }

  #skill .row {
    margin: 0;
    margin-bottom: 1rem;
  }

  .skill__item { 
    margin: 0 1rem 1rem 1rem;
  }
  
  section#portfolio {
    min-height: 75vh;
    padding-top: 3rem;
  }

  .portfolio__title {
    font-size: 7rem; 
  }

  #portfolio .row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .portfolio__item {
    width: 100%;
    flex: unset;
    margin-bottom: 5rem;
  }

  .portfolio__img {
    margin: 0;
    height: 30vh;
  }

  .portfolio__item-title {
    font-size:  5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .portfolio__item-desc {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .footer__title {
    font-size: 7rem;
  }

  .footer__subtitle {
    font-size: 3rem;
  }

  .footer__email {
    font-size: 7rem;
  }
}


@media (max-width: 768px) and (max-height: 1024px) {

  .header__title {
    font-size: 10rem;
  }
  
  .header__subtitle, .header__subtitle .ul {
    font-size: 3rem;
  }

  .navbar__item a {
    font-size: 3rem;
  }

  section#desc {
    min-height: 60vh;
  }

  .desc__title {
    padding-right: 9rem;
    padding-left: 9rem;
  }

  section#skill {
    padding: 14rem 1.5rem;
    min-height: 75vh;
  }

  .skill__title {
    font-size: 7.5rem;
  }

  #skill .row {
    margin: 0;
    margin-bottom: 1rem;
  }

  .skill__item { 
    margin: .1rem;
  }

  section#portfolio {
    min-height: 75vh;
    padding-top: 3rem;
  }

  .portfolio__title {
    font-size: 7rem; 
  }

  #portfolio .row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .portfolio__item {
    width: 100%;
    flex: unset;
    margin-bottom: 5rem;
  }

  .portfolio__img {
    margin: 0;
    height: 30vh;
  }

  .portfolio__item-title {
    font-size:  5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .portfolio__item-desc {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  footer#contact {
    padding: 4rem;
  }  

  .footer__title {
    font-size: 7rem;
  }

  .footer__subtitle {
    font-size: 3rem;
  }

  .footer__email {
    font-size: 6rem;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  .navbar__item a {
    font-size: 3rem;
  }

  section#skill {
    padding: 10rem 1.5rem;
    min-height: 85vh;
  }

  .skill__title {
    font-size: 6rem;
  }

  #skill .row {
    margin: 0;
    margin-bottom: 1rem;
  }

  .skill__item { 
    margin: 0 .3rem;
  }

  footer#contact {
    padding: 5rem;
  }  

  .footer__title {
    font-size: 7rem;
  }

  .footer__subtitle {
    font-size: 3rem;
  }

  .footer__email {
    font-size: 8rem;
  }
}


@media (max-width: 1280px) {
  nav#navbar {
    bottom: 0;
    top: unset;
  }

  .navbar__item a {
    font-size: 1.5rem;
  }

  .header__title {
    font-size: 10rem;
  }
  
  .header__subtitle, .header__subtitle .ul {
    font-size: 3rem;
  }

  #navbar .divider-6, #navbar .divider-1 {
    flex: 0;
  }

  .navbar__row {  
    justify-content: space-around;
    padding: 0;
  }

  .navbar__item {
    padding: 1.5rem 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .navbar__colored .navbar__item {
    text-indent: unset;
    white-space: unset;
    overflow: unset;
  }

  .navbar__item a {
    font-size: 1.5rem;
  }

  .navbar__colored .navbar__item-github {
    background-color: #263238;
  }

  .navbar__item-github {
    order: 0;  
  }

  .navbar__item-github a, .navbar__item-linkedin a {
    color: white;
  }

  .navbar__colored .navbar__item-linkedin {
    background-color: #2196F3;
  }

  .navbar__item-linkedin {
    order: 2;
  }

  .navbar__colored .navbar__item-resume {
    border-bottom: none;
    order: 1;
  }
}

@media (max-width: 640px) {
  .navbar__item a {
    font-size: 1.5rem;
  }

  .header__title {
    font-size: 7.5rem;
  }

  .header__subtitle, .header__subtitle .ul {
    font-size: 2rem;
  }

  section#desc {
    min-height: 50vw;
  }

  .desc__title {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  section#skill {
    padding: 12rem 1.5rem;
    min-height: 75vh;
  }

  .skill__title {
    font-size: 5rem;
  }

  #skill .row {
    margin: 0;
    margin-bottom: 1rem;
  }

  #skill .row:nth-child(3) {
    margin-bottom: 0;
  }

  .skill__item { 
    margin: .1rem;
  }

  section#portfolio {
    min-height: 75vh;
    padding-top: 3rem;
  }

  .portfolio__title {
    font-size: 3rem; 
  }

  #portfolio .row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .portfolio__item {
    width: 100%;
    flex: unset;
    margin-bottom: 5rem;
  }

  .portfolio__img {
    margin: 0;
    height: 25vh;
  }

  .portfolio__item-title {
    font-size:  2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .portfolio__item-desc {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  footer#contact {
    padding: 5rem;
  }  

  .footer__title {
    font-size: 3.5rem;
  }

  .footer__subtitle {
    font-size: 1.5rem;
  }

  .footer__email {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 5rem;
  }

  .desc__title {
    font-size: 3rem;
  }

  .desc__content {
    font-size: 1.5rem;
  }

  section#skill {
    padding: 10rem 1.5rem;
    min-height: 75vh;
  }

  .skill__title {
    font-size: 3rem;
  }
}

@media (max-height: 880px) {
  #skill .row {
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media (max-height: 640px) and (min-width: 480px){

  .desc__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }  

  .desc__content{
    font-size: 2rem;
  }

  section#skill {
    padding: 10rem 1.5rem;
    min-height: 150vh;
  }

  .skill__title {
    font-size: 5rem;
  }

  .portfolio__item {
    padding: 0 1rem;
  }

  .portfolio__title {
    font-size: 5rem; 
  }

  .portfolio__img {
    height: 50vh;
  }

  .portfolio__item-title {
    font-size:  3rem;
  }

  .portfolio__item-desc {
    font-size: 1.5rem;
  }

  .footer__title {
    font-size: 4rem;
  }

  .footer__subtitle {
    font-size: 1.5rem;
  }

  .footer__email {
    font-size: 4.5rem;
  }
}

@media (max-width: 480px) and (max-height: 640px) {
  section#skill {
    padding: 10rem 1.5rem;
  }
}