nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  z-index: 99;
  transition: all 0.5s;
}

.navbar__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 2.5rem 1.5rem;
}

.navbar__item {
  text-align: center;
  flex: 1;
  cursor: pointer;
  padding: 0.3rem;
}

.navbar__item a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-bottom: 0.3rem;
  transition: border-bottom 1s;
}

.navbar__item a:hover {
  border-bottom: 0.1rem solid white;
}

.navbar__item-resume {
  border-bottom: 0.1rem solid white;
  padding-bottom: 0.3rem;
}

.navbar__item-github,
.navbar__item-linkedin {
  transition: background-color 0.5s;
}

.navbar__item-resume a:hover {
  border-bottom: none;
}

.divider-6 {
  flex: 6;
}

.divider-1 {
  flex: 1;
}

.navbar__colored {
  background-color: white;
}

.navbar__colored a {
  color: #3f51b5;
}

.navbar__colored .navbar__item-resume {
  border-bottom: 0.1rem solid #3f51b5;
}

.navbar__hide {
  top: -10rem;
}
