nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  z-index: 99;
  transition: background-color .5s;
}

.navbar__row {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1.5rem;
}

.navbar__item {
  text-align: center;
  flex: 1;
  cursor: pointer;
  padding: .3rem;
}

.navbar__item a {
  text-decoration: none;  
  color: white;  
  font-size: 2rem;
  padding-bottom: .3rem;
  transition: border-bottom 1s;  
}

.navbar__item a:hover {
  border-bottom: .1rem solid white;
}

.navbar__item-resume {
  border-bottom: .1rem solid white;
  padding-bottom: .3rem;
}

.navbar__item-github, .navbar__item-linkedin {
  transition: background-color .5s;
}

.navbar__item-resume a:hover {
  border-bottom: none;
}

.divider-6 {
  flex: 8;
}

.divider-1 {
  flex: 1;
}

.navbar__colored {
  background-color: white;
}

.navbar__colored a {
  color: #3F51B5;
}

.navbar__colored .navbar__item-resume {
  border-bottom: .1rem solid #3F51B5;
}