.skill {
  min-height: 125vh;
  width: 100vw;
  background-image: url("../assets/contact.png"),
    linear-gradient(to bottom, #36d1dc, #5b86e5);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  color: white;
  padding: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill__title {
  font-size: 7rem;
  margin-bottom: 3rem;
}

.skill__item {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1;
  cursor: pointer;
  background-image: linear-gradient(rgba(79, 133, 250, 0.63));
  transition: transform 0.3s;
}

.skill__item:hover {
  transform: scale(1.2);
}

.row {
  min-width: 70%;
  max-width: 90%;
  margin: 3rem;

  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1rem 0;
}

.skill__react {
  background-image: url("../assets/skill/react.png");
}

.skill__express {
  background-image: url("../assets/skill/expressjs.png");
}

.skill__angular {
  background-image: url("../assets/skill/angular2.png");
}

.skill__flutter {
  background-image: url("../assets/skill/flutter.png");
}

.skill__electron {
  background-image: url("../assets/skill/electron.svg");
}

.skill__stencil {
  background-image: url("../assets/skill/stencil.png");
}