@import url('main.css');
@import url('navbar.css');
@import url('header.css');
@import url('desc.css');
@import url('skill.css');
@import url('portfolio.css');
@import url('footer.css');
@import url('media.css');