@import url('main.css');
@import url('navbar.css');
@import url('header.css');
@import url('desc.css');
@import url('skill.css');
@import url('portfolio.css');
@import url('footer.css');

@media (max-width: 640px) {

  .header__title {
    font-size: 7.5rem;
  }

  .header__subtitle, .header__subtitle .ul {
    font-size: 2rem;
  }

  nav#navbar {
    bottom: 0;
    top: unset;
  }

  #navbar .divider-6, #navbar .divider-1 {
    flex: 0;
  }

  .navbar__row {  
    justify-content: space-around;
    padding: 0;
  }

  .navbar__item {
    padding: 1.5rem 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .navbar__colored .navbar__item {
    text-indent: unset;
    white-space: unset;
    overflow: unset;
  }

  .navbar__item a {
    font-size: 1.5rem;
  }

  .navbar__colored .navbar__item-github {
    background-color: #263238;
  }

  .navbar__item-github {
    order: 0;  
  }

  .navbar__item-github a, .navbar__item-linkedin a {
    color: white;
  }

  .navbar__colored .navbar__item-linkedin {
    background-color: #2196F3;
  }

  .navbar__item-linkedin {
    order: 2;
  }

  .navbar__colored .navbar__item-resume {
    border-bottom: none;
    order: 1;
  }

  section#desc {
    min-height: 50vw;
  }

  section#skill {
    padding: 12rem 1.5rem;
    min-height: 75vh;
  }

  .skill__title {
    font-size: 5rem;
  }

  #skill .row {
    margin: 0;
    margin-bottom: 1rem;
  }

  #skill .row:nth-child(3) {
    margin-bottom: 0;
  }

  .skill__item { 
    margin: .1rem;
  }

  section#portfolio {
    min-height: 75vh;
    padding-top: 3rem;
    
  }

  .portfolio__title {
    font-size: 3rem; 
  }

  #portfolio .row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .portfolio__item {
    width: 100%;
    flex: unset;
    margin-bottom: 5rem;
  }

  .portfolio__img {
    margin: 0;
    height: 20vh;
  }

  .portfolio__item-title {
    font-size:  2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .portfolio__item-desc {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  footer#contact {
    padding: 5rem;
    min-height: 75vh;
  }  

  .footer__title {
    font-size: 3.5rem;
    text-align: center;
  }

  .footer__subtitle {
    font-size: 1.5rem;
    text-align: center;    
  }

  .footer__email {
    font-size: 2.5rem;
    text-align: center;    
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 5rem;
  }

  .desc__title {
    font-size: 3rem;
  }

  .desc__content {
    font-size: 1.5rem;
  }

  .skill__title {
    font-size: 3rem;
  }
}